/* Default (Mobile) */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Start with 4 columns on mobile */
    grid-template-rows: repeat(3, minmax(min-content, auto));
    gap: 16px;
}

.SpecialsSectionGrid, .TestimonialsSectionGrid, .AboutSectionGrid {
    grid-column: 1 / 5; /* Span all 4 columns on mobile */
}

.SpecialsSectionGrid {
    grid-row: 1 / 2;
}

.TestimonialsSectionGrid {
    grid-row: 2 / 3;
    background-color: #D9D9D9;
}

.AboutSectionGrid {
    grid-row: 3 / 4;
}

/* Tablet screen */
@media screen and (min-width: 768px) {
    main {
        grid-template-columns: repeat(8, 1fr);
        gap: 24px;
    }

    .SpecialsSectionGrid, .TestimonialsSectionGrid, .AboutSectionGrid {
        grid-column: 1 / 9; /* Span all 8 columns on tablet */
    }
}

/* Desktop screen */
@media screen and (min-width: 1024px) {
    main {
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
    }
    .SpecialsSectionGrid, .TestimonialsSectionGrid, .AboutSectionGrid {
        grid-column: 1 / 13; /* Span all 12 columns on desktop */
    }
}

.SpecialsSectionGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Start with 4 columns on mobile */
    grid-template-rows: repeat(1, minmax(min-content, auto));
    gap: 16px;
    padding-left: 5rem;
    padding-right: 5rem;
}

.SpecialsSection{
    grid-column: 1 / 5;
}

@media screen and (min-width: 768px) {
    .SpecialsSectionGrid {
        grid-template-columns: repeat(8, 1fr);
        gap: 24px;
    }

    .SpecialsSection {
        grid-column: 2 / 8;
    }
}

/* Desktop screen */
@media screen and (min-width: 1024px) {
    .SpecialsSectionGrid {
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
    }
    .SpecialsSection {
        grid-column: 3 / 11;
    }
}

.TestimonialsSectionGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Start with 4 columns on mobile */
    grid-template-rows: repeat(1, minmax(min-content, auto));
    gap: 16px;
    padding-left: 5rem;
    padding-right: 5rem;
}

.TestimonialsSection{
    grid-column: 1 / 5;
}

@media screen and (min-width: 768px) {
    .TestimonialsSectionGrid {
        grid-template-columns: repeat(8, 1fr);
        gap: 24px;
    }

    .TestimonialsSection {
        grid-column: 2 / 8;
    }
}

/* Desktop screen */
@media screen and (min-width: 1024px) {
    .TestimonialsSectionGrid{
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
    }
    .TestimonialsSection {
        grid-column: 3 / 11;
    }
}

.AboutSectionGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Start with 4 columns on mobile */
    grid-template-rows: repeat(1, minmax(min-content, auto));
    gap: 16px;
    padding-left: 5rem;
    padding-right: 5rem;
}

.AboutSection{
    grid-column: 1 / 5;
}

@media screen and (min-width: 768px) {
    .AboutSectionGrid {
        grid-template-columns: repeat(8, 1fr);
        gap: 24px;
    }

    .AboutSection {
        grid-column: 2 / 8;
    }
}

/* Desktop screen */
@media screen and (min-width: 1024px) {
    .AboutSectionGrid{
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
    }
    .AboutSection {
        grid-column: 3 / 11;
    }
}



