/* Default (Mobile) */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Start with 4 columns on mobile */
    grid-template-rows: repeat(3, minmax(min-content, auto));
    gap: 16px;
}

.SpecialsSectionGrid, .TestimonialsSectionGrid, .AboutSectionGrid {
    grid-column: 1 / 5; /* Span all 4 columns on mobile */
}

.SpecialsSectionGrid {
    grid-row: 1 / 2;
}

.TestimonialsSectionGrid {
    grid-row: 2 / 3;
    background-color: #D9D9D9;
}

.AboutSectionGrid {
    grid-row: 3 / 4;
}

/* Tablet screen */
@media screen and (min-width: 768px) {
    main {
        grid-template-columns: repeat(8, 1fr);
        gap: 24px;
    }

    .SpecialsSectionGrid, .TestimonialsSectionGrid, .AboutSectionGrid {
        grid-column: 1 / 9; /* Span all 8 columns on tablet */
    }
}

/* Desktop screen */
@media screen and (min-width: 1024px) {
    main {
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
    }
    .SpecialsSectionGrid, .TestimonialsSectionGrid, .AboutSectionGrid {
        grid-column: 1 / 13;
    }
}

.SpecialsSectionGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Start with 4 columns on mobile */
    grid-template-rows: repeat(1, minmax(min-content, auto));
    gap: 16px;
}

.SpecialsSection{
    grid-column: 1 / 5;
}

.specialsHeadingWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    }

.specialsHeadline{
    color: #000;
    font-family: 'Markazi Text';
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.orderMenuOnlineButton{
    border: 1px solid #000;
    border-radius: 0.3125rem;
    background-color: #F4CE14;
    width: 10.5rem;
    height: 2.9375rem;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Markazi Text;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

    .specialsContentWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        align-items: center;
}

@media screen and (min-width: 425px) {
    .SpecialsSectionGrid {
        grid-template-columns: repeat(8, 1fr);
        gap: 24px;
    }

    .SpecialsSection {
        grid-column: 2 / 8;
    }

    .specialsHeadline{
        font-size: 2.8rem;
        margin-bottom: 0.5rem;
    }

    .specialsHeadingWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        flex-wrap: wrap;
    }

    .specialsContentWrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        align-items: center;
}

}

/* Desktop screen */
@media screen and (min-width: 1089px) {
    .SpecialsSectionGrid {
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .SpecialsSection {
        grid-column: 3 / 11;
    }

    .specialsHeadingWrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .specialsHeadline{
        font-size: 3rem;
    }

    .specialsContentWrapper{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }
}

.TestimonialsSectionGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Start with 4 columns on mobile */
    grid-template-rows: repeat(1, minmax(min-content, auto));
    gap: 16px;
}

.TestimonialsSection{
    grid-column: 1 / 5;
}

.TestimonialsSection h2{
    color: #333;
    font-family: 'Markazi Text';
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-top: 3rem;
}

.reviewWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3rem;
    margin: 1rem;
}

@media screen and (min-width: 425px) {
    .TestimonialsSectionGrid {
        grid-template-columns: repeat(8, 1fr);
        gap: 24px;
    }

    .TestimonialsSection {
        grid-column: 2 / 8;
    }

    .TestimonialsSection h2{
        font-size: 4rem;
    }
}

/* Desktop screen */
@media screen and (min-width: 1024px) {
    .TestimonialsSectionGrid{
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .TestimonialsSection {
        grid-column: 3 / 11;
    }

    .reviewWrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 2rem;
        margin-bottom: 5rem;
        margin-top: 2rem;
}
}

.AboutSectionGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Start with 4 columns on mobile */
    grid-template-rows: repeat(1, minmax(min-content, auto));
    gap: 16px;
}

.AboutSection{
    grid-column: 1 / 5;
}

.aboutWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.aboutWrapper article{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.aboutWrapper article p{
   word-wrap: break-word;
}

.aboutWrapper h2{
    color:  #F4CE14;
    font-family: 'Markazi Text';
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.8;
    margin-top: 2rem;
    text-align: center;
}

.aboutWrapper h3{
    color: #333;
    font-family: Markazi Text;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.8;
    text-align: center;
}

.aboutImageWrapper{
    position: relative;
    width: 15rem;
    height: 30rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin-left: 0;
}

.RestaurantPic{
    width: 15rem;
    height: 11.875rem;
    flex-shrink: 0;
    top: 11rem;
    left: 7rem;
    z-index: 1;
    margin-bottom: 1rem;
}

.OwnersPic{
    width:14.74769rem;
    height: 10.5rem;
    flex-shrink: 0;
    left: 8rem;
}

.aboutWrapper p{
    color: #000;
    text-align: justify;
    font-family: Karla;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 18.125rem;
    height: 12.125rem;
    flex-shrink: 0;
    margin-top: 2rem;
    word-wrap: break-word;
}

@media screen and (min-width: 575px) {
    .AboutSectionGrid {
        grid-template-columns: repeat(8, 1fr);
        gap: 24px;
    }

    .AboutSection {
        grid-column: 2 / 8;
    }

    .aboutImageWrapper{
    position: relative;
    width: 30rem;
    height: 30rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.RestaurantPic{
    width: 18rem;
    height: 14.875rem;
    flex-shrink: 0;
    top: 11rem;
    left: 7rem;
    z-index: 1;
    margin-bottom: 1rem;
}

.OwnersPic{
    width:17.74769rem;
    height: 13.5rem;
    flex-shrink: 0;
    left: 8rem;
}
}

/* Desktop screen */
@media screen and (min-width: 1475px) {
    .AboutSectionGrid{
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .AboutSection {
        grid-column: 3 / 11;
    }

    .aboutWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .aboutImageWrapper{
        position: relative;
        width: 30rem;
        height: 20rem;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .RestaurantPic{
        width: 24rem;
        height: 16.875rem;
        flex-shrink: 0;
        position: absolute;
        top: 13rem;
        left: 2rem;
        z-index: 1;
    }

    .OwnersPic{
        width: 18.74769rem;
        height: 12.5rem;
        flex-shrink: 0;
        position: absolute;
        left: 9.5rem;
        bottom: 16rem;
    }

    .aboutWrapper h2{
    color: #F4CE14;
    font-family: Markazi Text;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: start;
}

.aboutWrapper h3{
    color: #333;
    font-family: Markazi Text;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.8;
    text-align: center;
    text-align: start;
}

.aboutWrapper p{
    color: #000;
    text-align: justify;
    font-family: Karla;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 23.125rem;
    height: 20.125rem;
    flex-shrink: 0;
    flex-shrink: 0;
    margin-top: 2rem;
    word-wrap: break-word;
}

.aboutImageWrapper{
    position: relative;
    width: 30rem;
    height: 30rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
}
}



