nav{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 28rem;
    padding-right: 28rem;
}


img{
      margin: 0.4rem 0;
}

div a {
    padding: 1rem;
}


ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: #000;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

a{
    text-decoration: none;
    color: #000;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}