.TableReservationGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(min-content, auto));
    gap: 16px;
}

.TableReservationHeadingRow, .TableReservationMainRow{
    grid-column: 1/5;
}

.TableReservationHeadingRow{
    grid-row: 1/2;
}

.TableReservationMainRow{
    grid-row: 2 /3;
}


@media screen and (min-width: 768px){
  .TableReservationGrid {
    grid-template-columns: repeat(8, 1fr);
    gap: 24px;
}
.TableReservationHeadingRow, .TableReservationMainRow{
    grid-column: 1/9;
}
}

@media screen and (min-width: 1024px) {
  .TableReservationGrid {
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
    }

  .TableReservationHeadingRow, .TableReservationMainRow{
        grid-column: 1 / 13;
    }
}

.TableReservationHeadingRow{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Start with 4 columns on mobile */
    grid-template-rows: repeat(1, minmax(min-content, auto));
    gap: 16px;
    background-color: #495E57;
}

.TableReservationHeadingContent{
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TableReservationHeadingContent h2{
    color: #F4CE14;
    font-family: 'Markazi Text';
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.8;
    text-align: center;
    margin-top: 3rem;
}

.TableReservationHeadingContent h3{
    color: #FFF;
    font-family: 'Markazi Text';
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-bottom: 3rem;
}

.TableReservationHeadingContent img{
    width: 20.3125rem;
    height: 12.5625rem;
    flex-shrink: 0;
    margin-bottom: 3rem;
    border-radius: 1rem;
}

@media screen and (min-width: 768px){
  .TableReservationHeadingRow {
    grid-template-columns: repeat(8, 1fr);
    gap: 24px;
}
.TableReservationHeadingContent{
    grid-column: 2/8;
}

.TableReservationHeadingContent img{
    width: 25.3125rem;
    height: 17.5625rem;
    flex-shrink: 0;
    margin-bottom: 3rem;
}
}

@media screen and (min-width: 1024px) {
  .TableReservationHeadingRow {
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
        padding-left: 5rem;
        padding-right: 5rem;
    }

  .TableReservationHeadingContent{
        grid-column: 3 / 11;
    }

    .TableReservationHeadingContent img{
        width: 33.3125rem;
        height: 20.5625rem;
        flex-shrink: 0;
        margin-bottom: 3rem;
        border-radius: 1rem;
}
}

.TableReservationMainRow{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Start with 4 columns on mobile */
    grid-template-rows: repeat(1, minmax(min-content, auto));
    gap: 16px;
}

.TableReservationMainContent{
    grid-column: 1/5;
}

.TableReservationMainContent h2{
    color: #333;
    font-family: 'Markazi Text';
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    word-wrap: break-word;
    margin: 1rem;
}

.reserveTableForm{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.submitbutton{
    width: 12.5rem;
    height: 2.75rem;
    flex-shrink: 0;
    border-radius: 1rem;
    background: #F4CE14;
    color: #000;
    text-align: center;
    font-family: 'Markazi Text', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 20px;
}

.buttonWrapper{
    display: flex;
    justify-content: center;
}

.reserveTableForm label{
    color: #000;
    font-family: 'Markazi Text', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1rem;
    margin-right: 1rem;
}

.reserveTableForm input{
    height: 2rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
}

.reserveTableForm select{
    height: 2rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
}

.confirmedHeading{
    color: #F4CE14;
    font-size: 2rem;
    text-align: center;
    word-wrap: break-word;
    margin-left: 1rem;
    margin-right: 1rem;
}

.ConfirmedDataWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.ConfirmedData{
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-content: center;
}

.ConfirmationInfoTextWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    word-wrap: break-word;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-wrap: wrap;
}

.ConfirmationInfoTextWrapper h4{
    color: #F4CE14;
    font-family: "Karla";
    text-align: center;
    word-wrap: break-word;
}
@media screen and (min-width: 768px){
  .TableReservationMainRow {
    grid-template-columns: repeat(8, 1fr);
    gap: 24px;
}
    .TableReservationMainContent{
        grid-column: 2/8;
}

.TableReservationMainContent h2{
    color: #333;
    font-family: 'Markazi Text';
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    word-wrap: break-word;
    margin: 1rem;
}
    .confirmedHeading{
        color: #F4CE14;
        font-size: 3rem;
        text-align: center;
        word-wrap: break-word;
}
}

@media screen and (min-width: 1024px) {
  .TableReservationMainRow {
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
        padding-left: 10rem;
        padding-right: 10rem;
    }

  .TableReservationMainContent{
        grid-column: 3 / 11;
    }

    .confirmedHeading{
        color: #F4CE14;
        font-size: 3rem;
        text-align: center;
        word-wrap: break-word;
}

.TableReservationMainContent h2{
    color: #333;
    font-family: 'Markazi Text';
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    word-wrap: break-word;
    margin: 1rem;
}
}


