@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Markazi+Text:wght@400;500;600;700&family=Montserrat:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, minmax(min-content, auto));
  gap: 16px;
}

.HeaderWrapper{
    grid-column: 1/5;
    margin-top: 3rem;
}

.FooterWrapper{
    grid-column: 1/5;
}

.Main{
  grid-column: 1 / 5;
}

Header {
  grid-row: 1 / 2;
  background-color: #495E57;
}

.Main {
  grid-row: 2 / 3;
}

Footer {
  grid-row: 3 / 4;
  background-color: #D9D9D9;
}

/* Tablet screen */
@media screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(8, 1fr);
    gap: 24px;
  }

  .HeaderWrapper{
    grid-column: 1/9;
    margin-top: 2rem;
  }

  .FooterWrapper{
    grid-column: 1/9;
  }
  .Main{
    grid-column: 1 / 9;
  }
}

/* Desktop screen */
@media screen and (min-width: 1024px) {
  .wrapper {
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
  }

  .HeaderWrapper{
    grid-column: 1/13;
  }

  .FooterWrapper{
    grid-column: 1/13;
  }

   .Main{
    grid-column: 1 / 13;
  }
}